# Fichiers sensibles à ignorer
**/*.token
**/*.key
**/*_tokens.*
**/*secrets*
**/*password*
**/*credential*
**/Cache/
**/GPUCache/
**/Code Cache/
**/cookies*
**/Cookies*
**/discord/Local Storage/
**/discord/Session Storage/
**/storage.json
