.antigravity-server
.cache
.cargo
.gemini
.local
.vscode-server
ArchDots
yay
.bash_logout
.bash_profile
.bashrc
.zprofile
.zsh_history
dconf
go
.oh-my-zsh
.zcompdump
.zcompdump-Holo-5.9
.zcompdump-Holo-5.9.zwc
procps
.ssh
.gitconfig
.zshrc